.books{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    padding:5rem 2rem 3rem 2rem;
}

.books span:nth-of-type(1){
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
} 

.books span:nth-of-type(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.books .swiper{
    overflow: visible!important;
}

.books-slider{
    margin-top: 3rem;
    width: 100%;
}

.books-slider .swiper-slide{
    width:20rem;
}

.books img{
    width: 19rem;
    filter: drop-shadow(-12px 15px 13px rgba(0,0,0, 0.25));
    border-radius: 19px;
}

.books-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}
