.contact-form{
    padding: 0 3rem 0 3rem;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    color: black;
}


.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

input::placeholder, textarea::placeholder {
    text-align: right;
  }

.c-right .user{
    width: 20rem;
    height: 2rem;
    padding: 0.3rem;
    outline: none;
    border:none;
    box-shadow: var(--smboxShadow);
    border-radius: 8px;
    font-size: 16px;
}

.c-right textarea{
    height: 4rem !important;
}

.c-blur1{
    top: 1rem;
    left: 8rem;
    
}


.show-message {
    opacity: 1;
    font-size: larger;
    background-color:rgb(15, 191, 15);
    border-radius: 2rem;
    padding: 1rem;
    /* color: aliceblue; */
    transition: opacity 0.5s ease-in-out;
  }
  
  .hide-message {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
@media screen and (max-width:480px) {
    .contact-form{
        flex-direction: column;
        padding: 10px;
    }
    .c-right>form{
        transform: scale(0.8);
    }
}