

  .footer {
    margin-top: auto;
  }
  

.footer .f-content {


  position: sticky;
  margin-top: 3rem;
  padding:  2rem 0rem;
    gap: 2rem;
   transition: background-color 0.5s ease 0s;
   z-index: 3;
   box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 1.8rem;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   min-height: 63px;
}

.f-icons{
    display: flex;
    gap: 2rem;
}

.f-logo{
height: 7rem;}

@media screen and (max-width:480px) {
    .f-content>*{
        transform: scale(0.9);
    }
}